@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101010;
}

body {
  background: var(--background);
}

.stroke-custom {
  border: 1px solid #1a1919;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #00a4ff;
}
